body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56),rgba(0, 0, 0, 0.606)),url('image\\wheater.jpg');
    background-size: cover;
    background-position: center;
}
.container {
    background:linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}
input, select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
}
input:focus, select:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}
button {
    background-color: #FFC107; 
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #FFA07A;
}
#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
}